[access]
	inheritFrom = All-Projects
[project]
	description = test
[access "refs/*"]
	owner = group user/PopCalin
[access "refs/for/refs/*"]
	read = group user/PopCalin
	push = group user/PopCalin
	label-Code-Review = -2..+2 group user/PopCalin
	label-Verified = -1..+1 group user/PopCalin
	rebase = group user/PopCalin
	removeReviewer = group user/PopCalin
	submit = group user/PopCalin
[access "refs/heads/*"]
	read = group user/PopCalin
	create = group user/PopCalin
	push = +force group user/PopCalin
	pushMerge = group user/PopCalin
[access "refs/tags/*"]
	push = group user/PopCalin
	push = +force group user/PopCalin
